@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Roboto:300,400);

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
font-family: 'Roboto', sans-serif;
-webkit-font-smoothing: antialiased;
}

.reveal a, .reveal a:not(.image) {
	color: #333;
}

.reveal h2 { font-size: 2em;}

.reveal .grid-demo h2 {
	width: 5em;
	margin: auto;
}

.reveal ul#summaryMenu li {
	display: block;
	float: left;
	height: 400px;
	width: 160px;
	margin: 20px;
	padding: 15px;
	font-size: 0.8em;
	position: relative;
	top: 0px;	    
    border-radius: 20px;	
    color: #fff;
    font-weight: normal;
}



.reveal ul#summaryMenu li:nth-of-type(1) { background-color: #7986cb; }
.reveal ul#summaryMenu li:nth-of-type(2) { background-color: #5c6bc0; }
.reveal ul#summaryMenu li:nth-of-type(3) { background-color: #3f51b5; }
.reveal ul#summaryMenu li:nth-of-type(4) { background-color: #303f9f; }


.reveal ul#summaryMenu li:nth-of-type(1) { background-color: #7e57c2; }
.reveal ul#summaryMenu li:nth-of-type(2) { background-color: #5c6bc0; }
.reveal ul#summaryMenu li:nth-of-type(3) { background-color: #738ffe; }
.reveal ul#summaryMenu li:nth-of-type(4) { background-color: #29b6f6; }

.reveal section div.c5-contact {
	width: 960px;
	position: relative;
	z-index: 20;
	top: 2em;
}
.reveal .c5-contact small {
	float: right;
	position: relative;
	top: 4em;
	text-align: right;	
}


.reveal section div.attribution {
    position:absolute;
    bottom:-20px;
    right:0;    
    font-size: 0.3em;    
    line-height: 1em;
    text-align: right;
}
.reveal h1 {
	line-height: 1.2em;
}

.reveal .c5-contact small a { display: block; }
.reveal em.red { color: red; font-style: normal; }
.reveal em.blue { color: #3288BD; font-style: normal; }
.reveal em.orange { color: rgb(255, 155, 0); font-style: normal; }

.reveal section.intro .tagline {
  margin-top: 100px;
  text-align: center;
}
.reveal section.intro .change-container {
  position: relative;
  display: inline-block;
  width:200px;
  height: 1.3em;
  top: 0;
  left: 0;
  border-bottom:1px solid red;
  margin-bottom:-10px;
}
.reveal section.intro .changing {
  position:absolute;
  overflow:hidden;
  display: inline-block;
  color:red;
  width:100%;
  left:0;
  bottom:0;
  top: 0;
  height:0;
  opacity:0;
  text-rendering:optimizeLegibility;
  animation : revealNextWord 10s ease-in-out infinite;
}

.reveal section.intro .changing:nth-child(2) {
  animation-delay:2s;
}
.reveal section.intro .changing:nth-child(3) {
  animation-delay:4s;
}
.reveal section.intro .changing:nth-child(4) {
  animation-delay:6s;
}
.reveal section.intro .changing:nth-child(5) {
  animation-delay:8s;
}
.reveal section.intro .title {font-size: 2em; line-height: 2em;}
@keyframes revealNextWord {
    0% { opacity: .3; height: 0; }
    10% { opacity: 1; height: 1.2em; }
    20% { opacity: 1; height: 1.2em; }
	  28% { opacity: 0; height:2em;}
    100% { opacity: 0; }
}

.reveal h2 .big {
	font-size: 320px;
	padding: 0 20px;
	position: relative;
	display: inline-block;
	top: 50px;	
}

#bigV {
	color: #9c27b0;
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 12s infinite linear;
	-webkit-animation: hue 12s infinite linear;	
	height: 210px;
	display: block;
}

.reveal pre {
	margin: 15px 0;
	padding: 15px 0;	
	width: 100%;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0.55); 
	border-bottom: none;
	font-size: 1em;
	line-height: 1.2em;
}

.reveal pre.small-code { font-size: 0.4em;}
.reveal pre.med-code { font-size: 0.7em;}


.reveal pre em {
	color: red;	
}

.reveal ul li {
	list-style-type: none;
	line-height: 2em;
}

#sidenav-demo {
	height: 100%;
	width: 100px;
	position: absolute;
	right: -100px;
	background-color: #e0e0e0;
	text-align: center;
	padding-top: 10px;	
}

#sidenav-demo .bar {
	background-color: black;
	width: 80%;
	height: 8px;
	margin: 4px auto;
}	

.reveal .buttons { padding-top: 30px;}
#color-btn-demo, #motion-btn-demo {
  border: 2px solid #f35626;
  font-size: 0.75em;
  line-height: 1.375;
  padding: 0.5rem 1.5rem;  
  margin-right: 2rem;

  font-weight: 700;

  color: #0a8f08;  
  border: 2px solid #0a8f08;

  cursor: pointer;
  display: inline;
  border-radius: 4px;
  /*-webkit-animation: hue 60s infinite linear;*/
}
.reveal #color-btn-demo.wrong, .reveal #motion-btn-demo.shake {
  border: 2px solid #dd2c00; 
  color: #dd2c00;
}

/*.reveal .progress { display: none !important; }*/
.reveal blockquote { box-shadow: none;}

.reveal section img.fjs {
	border: 0;
	background: none;	
	box-shadow: none;
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none; 
}

.reveal #basic-one, 
.reveal #basic-two, 
.reveal #basic-three, 
.reveal #ease-anim, 
.reveal #ease-out-anim, 
.reveal #ease-in-anim, 
.reveal #elastic-anim, 
.reveal #bounce-anim  {height: 7em; width: 7em; border-radius: 7em; top: 0.5em; left: 0.5em; background-color: red; position: relative; color: white; font-size: 0.5em; line-height: 1.5em;}

.reveal .basic-one-slide-background {border-top: 0.2em solid #333; border-bottom: 0.2em solid #333; border-radius: 1em; width: 960px; height: 4em; }

.d-v-d {width: 100%; height: 100%; }
#d-v-d-container {width: 100%; height: 100%; display: none;}
#d-v-d-slider {
	/* set initial width */
		   width: 60%;
		   height: 100%;
		   /* hide the content that overflows (to allow second box to show through) */
		   overflow: hidden;
		   display: inline-block;
		   
		   /* skew container so that it has angled edge, and set up transition */
		  -webkit-transform: skewX(-20deg);
		  -moz-transform: skewX(-20deg);
		  -ms-transform: skewX(-20deg);
		  -o-transform: skewX(-20deg);
		  transform: skewX(-20deg);
		  
		  -webkit-transition: width 1.2s ease-in-out;
		  -moz-transition: width 1.2s ease-in-out;
		  -ms-transition: width 1.2s ease-in-out;
		  -o-transition: width 1.2s ease-in-out;
		  transition: width 1.2s ease-in-out;
		  
		   /* give negative margin to remove gap caused by left hand skew */
		   margin-left: -8%;
		   border-right: 10px solid ghostwhite;
		   
		   /* hide pointer events for unseen content */
		   pointer-events: none;
}

#dev-versus {
/* skew back by negative of parent’s skew so contents is upright */
		  -webkit-transform: skewX(20deg);
		  -moz-transform: skewX(20deg);
		  -ms-transform: skewX(20deg);
		  -o-transform: skewX(20deg);
		  transform: skewX(20deg);
		  
		  background: url(../img/code3.jpg) no-repeat 0 68px;
		  margin-left: 76px; /* give margin to push content away from left slanted edge */
		  pointer-events: auto;	/* allow pointer events for the box */
		  height: 100%;
		  width: 100%;
}

#design-versus {
	background: url('../img/design2.jpg') no-repeat 100% 10%; position:absolute;
}
#show-grid-demo {
	width: 100%;
	margin: 0 auto;
	position: relative;
	display: none;	
}
